<div class="editor-container">
  <div class="doc-actions">
    @if (userInfo) {
      <div>
        <span>You: </span>
        <span [style.backgroundColor]="userInfo['color']">{{ userInfo['name'] }}</span>
      </div>
    }
  </div>
  <div class="toolbar">
    <select [(ngModel)]="selectedLanguage">
      <option value="javascript">JavaScript</option>
    </select>
  </div>
  <div #editorContainer class="code-editor"></div>
  <button (click)="toggleOnlineUsersList()" class="toggle-users-button">
    {{ showOnlineUsersList ? 'Hide' : 'Show'}} online users
  </button>
  <ol [style.display]="showOnlineUsersList ? 'block' : 'none'">
    @for (user of otherOnlineUsers; track user['name']) {
      <li>
        <span [style.backgroundColor]="user['color']">{{ user['name'] }}</span>
      </li>
    }
  </ol>
</div>
