<div class="editor-container">
  <div class="toolbar">
    <div class="user-info">
      <span class="username" [style.backgroundColor]="currentUserColor">You: {{currentUserName}}</span>
    </div>
    <select [(ngModel)]="selectedLanguage" (change)="onLanguageChange()">
      <option value="javascript">JavaScript</option>
      <option value="typescript">TypeScript</option>
    </select>
    <code class="user-info" [style.color]="userInfo.color">
      {{ userInfo.name }}
    </code>
  </div>
  <div #editorContainer class="code-editor"></div>
</div>
