.editor-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .doc-actions {
    display: flex;
    justify-content: space-between;
    padding: 8px;
  }
  
  .toolbar {
    border-bottom: 1px solid #e0e0e0;
    padding: 8px;
  }

  .code-editor {
    flex: 1;
    overflow: auto;
  }

  .toggle-users-button {
    margin: 8px;
    width: fit-content;
  }
}
